<div class="panel">

  <form novalidate name="newTask">
      <div class="form-group">
        <label for="action">Action:</label>
        <input type="text" id="action" name="action" class="form-control" ng-model="$ctrl.newItem.action" />
      </div>

      <div class="form-group">
        <label for="deadline">Deadline</label>
        <input type="date" id="deadline" name="deadline" class="form-control" ng-model="$ctrl.newItem.deadline" />
      </div>

      <div class="form-group">
        <label for="responsible">Responsible for task</label>
        <input type="text" id="responsible" name="responsible" class="form-control" ng-model="$ctrl.newItem.responsible" />
      </div>

      <div class="form-group">
        <label for="estimation">Estimation hours to complete task</label>
        <input type="number" id="estimation" name="estimation" class="form-control" ng-model="$ctrl.newItem.estimation" />
      </div>

      <button class="btn btn-primary" ng-click="$ctrl.addNewItem($ctrl.todos, $ctrl.newItem)" ng-hide="$ctrl.editMode()" ng-disabled="!$ctrl.newItem.action">Add</button>
      <button class="btn btn-primary" ng-click="$ctrl.saveEditedItem($ctrl.todos, $ctrl.newItem)" ng-show="$ctrl.editMode()" ng-disabled="!$ctrl.newItem.action">Save</button>
  </form>

  <!--<pre>-->
  <!--{{newTask | json}}-->
  <!--{{newTask.action | json}}-->
  <!--</pre>-->
</div>